<div id="products-section">
  <p style="font-size: 1.5rem">Your Products
    <span style="font-size: 0.9rem;display: block;color: slategray;margin-top: 10px">List of all your products are displayed in the below table</span>
  </p>
  <div class="table-section">
    <div class="table-responsive">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
      <button mat-raised-button color="primary" style="float: right"
              data-bs-toggle="modal"
              data-bs-target="#addProductModel">
        <i class="fas fa-plus-circle"></i> Add Product
      </button>

      <!--TABLE-->
      <mat-table [dataSource]="this.Products" class="mat-elevation-z8">
        <ng-container matColumnDef="#">
          <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
          <mat-cell *matCellDef="let element;let i = index;"> {{i + 1}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="productName">
          <mat-header-cell *matHeaderCellDef> Product Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="productDesc">
          <mat-header-cell *matHeaderCellDef> Product Description</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.productDesc}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>

      <!-- Modal -->
      <div class="modal fade" id="addProductModel" tabindex="-1" aria-labelledby="addProductModel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">Add Product</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="display: flex;flex-direction: row;justify-content: start">
              <mat-form-field style="margin-right: 10%">
                <mat-label>Product Name</mat-label>
                <input matInput [(ngModel)]="this.product.productName" (ngModelChange)="this.enableSaveProduct()">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Product Description</mat-label>
                <input matInput [(ngModel)]="this.product.productDesc" (ngModelChange)="this.enableSaveProduct()">
              </mat-form-field>
            </div>
            <div class="modal-footer">
              <button #closeButton type="button" mat-raised-button color="link" data-bs-dismiss="modal">Close</button>
              <button type="button" mat-raised-button color="primary" style="margin-left: 10px"
                      (click)="createProduct()" [disabled]="this.saveButtonDisable">Save
                changes
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<style>
  #products-section {
    margin-left: 2%;
    margin-top: 5%
  }

  .table-section {
    background-color: white;
    padding: 2%;
    margin-right: 10%;
    width: auto;
  }
</style>
